/* Classes */
:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #141418;
    --text-secondary: #ececec;
    --bg-primary: burlywood;
    --bg-secondary: #141418; 
}

main {
    margin-left: 5rem;
    padding: 1rem; 
}

body {
    background-image: url(/img/LIonBobDoctor.JPG);
    background-size: cover;
    max-width: auto;
    margin: 0;
    padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: .6rem;
}

body::-webkit-scrollbar-track{
    background-image: url(/img/LIonBobDoctor.JPG);
    background-size: fill;
    background-position: right;
}

body::-webkit-scrollbar-thumb{
    background: burlywood;
}

/* Navbar Elements */
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color:var(--bg-primary)
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link img {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text {
    display: none;
    margin-left: 1rem; 
}

/* .navbar:hover {
    width: 16rem;
}

.nav-link:hover .link-text {
    display: block;
} */

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-item {
    width: 100%;
}

/* .navbar-item:last-child {
    margin-top: auto;
} */

/* Div Containers for content */
.content {
    opacity: 0.8;
    background-color: burlywood;
    margin: 30px auto 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 0 100px 0 100px;
}

.content-left {
    opacity: 0.8;
    background-color: burlywood;
    margin: 20px 0 20px 10%;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 0 100px 0 100px;
}

.content-right {
    opacity: 0.8;
    background-color: burlywood;
    margin: 20px 10% 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 0 100px 0 100px;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
}

h1, h2, h3, p {
    text-align: center;
}
