body {
    background-image: url(/img/LIonBobDoctor.JPG);
    background-size: cover;
}
.content {
    background-color: burlywood;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}
ul {
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
}